body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
.pointOfInterest{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: auto;
}

#cat{
    display: none;
    position: absolute;
    left: 670px;
    top: 162px;
    z-index:1;
}

#catStickerHolder {
    position: absolute;
    z-index: 1;
    position: absolute;
    /*für responsivität am besten auf 50% setzen beide werte*/
    left: 670px;
    top: 162px;
}

.pointOfInterest{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.pointOfInterest > span{
    font-size: 11px;
    font-family: Arial;
    color: grey;
    text-align: center;
    z-index:1;
}

#canvas {
    width:95%;
    height:95%;
    border-radius:0.25rem;
   /* background-color: #fff;*/
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 5%;
    bottom: 5%;
}

.corner {
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  /*  border: 1px solid black;*/
  }

#webgazerGazeDot {
  color: white !important;
}
  
  .top-right {
    top: 2.5%;
    right: 2.5%;
    /*padding-right: 5%;
    padding-top: 5%;*/
    text-align: center;
    vertical-align: auto;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
  }
  
  .bottom-left {
    bottom: 2.5%;
    left: 2.5%;
    text-align: center;
    vertical-align: auto;
    background-color: lightgrey;
    display: flex;
    align-items: center;  justify-content: center;
    width: 20%;
    height: 20%;
  }
  
  .bottom-right {
    bottom: 2.5%;
    right: 2.5%;
    text-align: center;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
  }

  h1{
    font-family: 'Roboto', sans-serif;
top: 3% !important;
position: sticky;
text-align:center; 
color:#007aff;
  }

  h2 {
    margin-top:2% !important;
    font-family: 'Roboto', sans-serif;
text-align:center;
margin-top: 2%;
  }