body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
.pointOfInterest{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: auto;
}

#sticker0{
    display: none;
    position: absolute;
    left: 26%;
    top: 20%;
    z-index:1;
}

#sticker1{
    display: none;
    position: absolute;
    left: 47%;
    top: 20%;
    z-index:1;
}

#sticker2{
    display: none;
    position: absolute;
    right: 26%;
    top: 20%;
    z-index:1;
}

#sticker3{
    display: none;
    position: absolute;
    left: 26%;
    bottom: 43%;
    z-index:1;
}

#sticker4{
    display: none;
    position: absolute;
    left: 47%;
    bottom: 43%;
    z-index:1;
}

#sticker5{
    display: none;
    position: absolute;
    right: 26%;
    bottom: 43%;
    z-index:1;
}

#sticker6{
    display: none;
    position: absolute;
    left: 26%;
    bottom: 20%;
    z-index:1;
}

#sticker7{
    display: none;
    position: absolute;
    left: 47%;
    bottom: 20%;
    z-index:1;
}

#sticker8{
    display: none;
    position: absolute;
    right: 26%;
    bottom: 20%;
    z-index:1;
}

#cat{
    display: none;
    position: absolute;
    left: 400px;
    top: 162px;
    z-index:1;
}

#dog{
  display: none;
  position: absolute;
  left: 1000px;
  top: 162px;
  z-index:1;
}

#bird{
  display: none;
  position: absolute;
  left: 1500px;
  top: 162px;
  z-index:1;
}

#stickerHolder0 {
    position: absolute;
    z-index: 1;
    position: absolute;
    /*für responsivität am besten auf 50% setzen beide werte*/
    left: 26%;
    top: 20%;
}

#stickerHolder1 {
  position: absolute;
  z-index: 1;
  position: absolute;
  /*für responsivität am besten auf 50% setzen beide werte*/
  left: 47%;
  top: 20%;
}

#stickerHolder2 {
  position: absolute;
  z-index: 1;
  position: absolute;
  /*für responsivität am besten auf 50% setzen beide werte*/
  right: 26%;
  top: 20%;
}

#stickerHolder3 {
  position: absolute;
  z-index: 1;
  position: absolute;
  /*für responsivität am besten auf 50% setzen beide werte*/
  left: 26%;
  bottom: 43%;
}

#stickerHolder4 {
position: absolute;
z-index: 1;
position: absolute;
/*für responsivität am besten auf 50% setzen beide werte*/
left: 47%;
bottom: 43%;
}

#stickerHolder5 {
position: absolute;
z-index: 1;
position: absolute;
/*für responsivität am besten auf 50% setzen beide werte*/
right: 26%;
bottom: 43%;
}

#stickerHolder6 {
  position: absolute;
  z-index: 1;
  position: absolute;
  /*für responsivität am besten auf 50% setzen beide werte*/
  left: 26%;
  bottom: 20%;
}

#stickerHolder7 {
position: absolute;
z-index: 1;
position: absolute;
/*für responsivität am besten auf 50% setzen beide werte*/
left: 47%;
bottom: 20%;
}

#stickerHolder8 {
position: absolute;
z-index: 1;
position: absolute;
/*für responsivität am besten auf 50% setzen beide werte*/
right: 26%;
bottom: 20%;
}

.pointOfInterest{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.pointOfInterest > span{
    font-size: 11px;
    font-family: Arial;
    color: grey;
    text-align: center;
    z-index:1;
}

#canvas {
    width:95%;
    height:95%;
    border-radius:0.25rem;
   /* background-color: #fff;*/
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 5%;
    bottom: 5%;
}

.corner {
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  /*  border: 1px solid black;*/
  }

#webgazerGazeDot {
  color: white !important;
}
  
  .top-right {
    top: 2.5%;
    right: 2.5%;
    /*padding-right: 5%;
    padding-top: 5%;*/
    text-align: center;
    vertical-align: auto;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
  }
  
  .bottom-left {
    bottom: 2.5%;
    left: 2.5%;
    text-align: center;
    vertical-align: auto;
    background-color: lightgrey;
    display: flex;
    align-items: center;  justify-content: center;
    width: 20%;
    height: 20%;
  }
  
  .bottom-right {
    bottom: 2.5%;
    right: 2.5%;
    text-align: center;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
  }

  h1{
    font-family: 'Roboto', sans-serif;
top: 3% !important;
position: sticky;
text-align:center; 
color:#007aff;
  }

  h2 {
    margin-top:2% !important;
    font-family: 'Roboto', sans-serif;
text-align:center;
margin-top: 2%;
  }